<app-navi></app-navi>
<br>
<div class="container">
    <router-outlet></router-outlet>
    <h4> {{title}}</h4>
    <h4>Name: {{fname}} {{lname}}</h4>
    <img alt="userimg" src="{{userIMG}}">

    <form>
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" aria-describedby="naam" placeholder="User's Complete Name"value="{{fname}} {{lname}}">
        <label for="type" class="form-label">Account Type</label>
        <input type="text" class="form-control" id="type" aria-describedby="tayp" placeholder="Account Type" value="{{type}}"><br>
        <button type="reset" class="btn btn-success">Clear</button>
    </form>
    <h2>Binding to the colspan property</h2>
<div class="container">
    <table border =1 [ngClass]="classes">
        <tr><td>Column1</td><td>Column2</td></tr>
        <tr><td [colSpan]="2">Span 2 Columns</td></tr>
    </table>
</div>
</div>

