<h1>Course Info Page</h1><br>
<a class="btn btn-primary" routerLink="add-course">Add Course</a><br><br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Course Code</th>
        <th scope="col">Type</th>
        <th scope="col">Credit Unit</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td><button type="button" class="btn btn-info">Edit</button><button type="button" class="btn btn-danger">Delete</button>
        </td>
      </tr>

    </tbody>
  </table>