img{
    max-width: 150px;
    min-width: 100px;
}
.special{
    background-color:blue;
    color: #fff;
    padding: 1rem;
}
.happy{
    background-color: rgb(224, 211, 26);
    color: rgb(14, 13, 13);
    padding: 1rem;
}