header{
    width: auto;
    height: 200px;
    border: 1pt #ff9900 solid;
    text-align: center;
}
.RC{
    width: auto;
    height: 200px;
    border: 1pt #ff9900 solid;
    text-align: center;
}

.inner{
    margin-left: 15px;
    margin-right: 15px;
    height: 85px;

    border: 1pt #ff9900 solid;
}
.top{
    margin-top: 15px;
}
.bottom{
    margin-bottom: 15px;
}